{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "description": "",
    "type": "object",
    "id": "http://ozoneplatform.org/jsonschema/TYPENAME",
    "required": [],
    "properties": {
        "_links": { "$ref" : "ozp-iwc-base.json#/definitions/_links"},
        "_embedded": {
            "type": "object",
            "properties": {},
            "additionalProperties": { "$ref": "hal-schema.json#/properties/_embedded" }
        }    
    }
    TODO: POPULATE THIS
}