<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- cuz IE -->
    <script>
      if (!window.console) { window.console = {}; }
      if (!window.console.log) { window.console.log = function () { }; }
    </script>
    <script src="../OzoneConfig.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../bower_components/ozp-iwc/dist/js/ozpIwc-client-angular.js"></script>

    <script src="js/app.js"></script>
</head>

<body ng-app="LocationAnalyzer" ng-controller="MainController">
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal css-form">
                    <div class="form-group">
                            <div class="col-xs-4">
                                <span>Latitude</span>
                                <input type="number" class="form-control input-sm" id="inputLat"  tooltip-placement="bottom" tooltip="Decimal range [-90,90]."
                                       max="90" min="-90" ng-model="lat" placeholder="0" ng-change="update()">

                            </div>
                            <div class = "col-xs-4">
                                <span>Longitude</span>
                                <input type="number" class="form-control input-sm" id="inputLong"  tooltip-placement="bottom" tooltip="Decimal range [-180,180]."
                                       max="180" min="-180" ng-model="long" placeholder="0" ng-change="update()">
                            </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</header>
<div id="content">
    <div class="container">
        <div class="row">
                <table class="table table-striped col-sm-12">
                    <tbody>
                    <tr ng-repeat="(key,value) in output">
                        <td ng-if="key != 'contentType'">{{key}}</td>
                        <td ng-if="key != 'contentType'">{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: 10px;">
                        <span class="pull-right">
                            <button style="display: inline-block; margin-right: 10px;" type="button"
                                    class="btn btn-primary btn-xs" ng-click="invokeSave()" ng-disabled="save.handlers.length <= 0">Save</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
