.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #DBDCDD;
}

header {
    width: 100%;
    height: 40px;
    position: fixed;
    background: #323232;
    top: 0;
    z-index: 20;
    color: #e5e5e5;
}
#content {
    /*width: 80%;*/
    /*margin: 0 auto;*/
    padding: 40px 0;
    z-index: 1;
}
footer {
    width: 100%;
    padding-bottom: 10px;
    background: #323232;
    position: fixed;
    bottom: 0;
    color: #e5e5e5;
}
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

.layer-mask {
    position: relative;
}
.layer {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}
.layer-mask button[disabled] {
    position: relative;
    z-index: -1;
}

.selected .list-group-item {
    background: #BDBDBD;
}

a.list-group-item:focus, a.list-group-item:hover {
    background: #EAEAEA;
}