<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- cuz IE -->
    <script>
        if (!window.console) {
            window.console = {};
        }
        if (!window.console.log) {
            window.console.log = function() {};
        }
    </script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/ozp-iwc/dist/js/ozpIwc-client-angular.js"></script>
    <script src="../OzoneConfig.js"></script>

    <script src="js/app.js"></script>
</head>

<body ng-app="LocationLister" ng-controller="MainController">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>My Locations
                        <button style="display: inline-block" type="button" class="btn btn-default btn-xs pull-right" ng-click="addListing()">Add Location</button>
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="container">
            <div class="row" id="locationList">
                <location-list locations="locations" onselect="handleLocationSelect" selected="selectedLocation"></location-list>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="margin-top: 10px;">
                        <span>Map Handlers: {{map.handlers.length}} Analysis Handlers: {{analyze.handlers.length}} </span>

                        <span class="pull-right">
                            <button style="display: inline-block; margin-right: 10px;" type="button" ng-disabled="map.handlers.length < 1" class="btn btn-primary btn-xs" ng-click="map.run(selectedLocation.resource)">Map</button>
                            <button style="display: inline-block; margin-right: 10px;" type="button" ng-disabled="analyze.handlers.length < 1" class="btn btn-primary btn-xs" ng-click="analyze.run(selectedLocation.value.coords)">Analyze</button>
                            <button style="display: inline-block; margin-right: 10px;" type="button" class="btn btn-default btn-xs" ng-click="editLocation(selectedLocation)" ng-disabled="!selectedLocation">Edit</button>
                            <button style="display: inline-block" type="button" class="btn btn-default btn-xs" ng-click="selectedLocation.delete()" ng-disabled="!selectedLocation">Delete</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
