<div class="row">
    <div class="col-md-12">
        <h4> <code> owf.preferences </code></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <code> .findWidgets </code>
        <form name="findWidgetsForm">
          <div class="form-group">
            <label for="findWidgets-userOnly">userOnly</label>
            <select class="form-control" id="findWidgets-userOnly" ng-model="findWidgetsUserOnly">
                <option>true</option>
                <option>false</option>
            </select>
          </div>
          <div class="form-group">
            <label for="findWidgets-widgetName">searchParams.widgetName</label>
            <input type="text" ng-model="findWidgetsWidgetName" class="form-control" id="findWidgets-widgetName" placeholder="WidgetName">
          </div>
          <div class="form-group">
            <label for="findWidgets-widgetVersion">searchParams.widgetVersion</label>
            <input type="text" ng-model="findWidgetsWidgetVersion" class="form-control" id="findWidgets-widgetVersion" placeholder="widgetVersion">
          </div>
          <div class="form-group">
            <label for="findWidgets-widgetGuid">searchParams.widgetGuid</label>
            <input type="text" ng-model="findWidgetsWidgetGuid" class="form-control" id="findWidgets-widgetGuid" placeholder="widgetGuid">
          </div>
          <div class="form-group">
            <label for="findWidgets-universalName">searchParams.universalName</label>
            <input type="text" ng-model="findWidgetsUniversalName" class="form-control" id="findWidgets-universalName" placeholder="universalName">
          </div>
          <div class="form-group">
            <label for="findWidgets-groupId">searchParams.groupId</label>
            <input type="text" ng-model="findWidgetsGroupId" class="form-control" id="findWidgets-groupId" placeholder="groupId">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="callFindWidgets()">Send</button>
          </div>
        </form>

    </div>
    <div class="col-md-6">
    Response:
    </div>
</div>

